* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Satisfy;
    background-color: #F8F5EE;
}



.navbar-container {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;

}




.container .sobre {
    margin-top: 30px;
}

.logotipo {
    height: 70px;
    margin-top: 5px;
    margin-left: 60px;

}


.page {
    background: #F8F5EE;
    color: #203339;
    min-height: 100%;
}

.navbar {
    display: flex;
    height: 80px;
    background-color: #2F4A52;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;

    margin-right: 150px;
    justify-content: space-between;
    width: 400px;
}

.hero {
    width: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 100%;

}

.sobre {
    margin-left: 50px;
}

.sobre h2,
#contato h2 {
    font-size: 35px;
    margin-bottom: 15px;
}



.sobre p {
    font-size: 25px;
    margin-bottom: 15px;
}

#contato .container {
    display: block;
}

.formas-contato {
    display: flex;
    justify-content: space-between;
}

.formas-contato h3 {
    margin-bottom: 15px;
}


form input,
form textarea {
    background-color: #F8F5EE;
}

::placeholder {
    color: #203339;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    font-family: Satisfy;
    border-radius: 5px;
    border: 2px solid #EDD8CE;
}

form input:focus,
form textarea:focus {
    outline: #3c606b;
}

form textarea {
    resize: none;
    height: 80px;
}

form button {
    background-color: #2F4A52;
    color: #F8F5EE;
    border: 2px solid #F8F5EE;
}

form button:hover {
    background-color: #3c606b;
    cursor: pointer;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
}

.social-links li a {
    text-decoration: none;

}

footer {
    margin-top: 30px;
    display: flex;
    height: 30px;
    background-color: #2F4A52;
    color: #F8F5EE;
    align-items: center;
}



header nav li {
    display: inline;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

header nav li a {
    color: #EDD8CE;
    text-decoration: none;
    margin: 0 30px;
}

#dark-mode-input {
    display: none;
}

#dark-mode-input:checked~.page {
    background: #253b41;
    color: #EDD8CE;
    ;
}



.dark-mode-toggler {
    position: absolute;
    width: 56px;
    height: 28px;
    background: #2F4A52;
    border: 2px solid #F8F5EE;
    border-radius: 20px;
    top: 28px;
    right: 60px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.dark-mode-toggler div {
    width: 20px;
    height: 20px;
    background: #F8F5EE;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 3px;
    transition: all 500ms ease-in-out;
}



#dark-mode-input:checked~.dark-mode-toggler div {
    left: 30px;
}

#dark-mode-input:checked~.dark-mode-toggler .moon {
    stroke: #2F4A52;

}

#dark-mode-input:checked~.dark-mode-toggler .sun {
    stroke: #F8F5EE;
}

.sun {
    width: 16px;
    stroke: #2F4A52;
    position: absolute;
    top: 4px;
    left: 5px;
}

.moon {
    width: 16px;
    stroke: #F8F5EE;
    position: absolute;
    top: 4px;
    left: 32px;
}